/*Body*/
/*Header*/
.ms_logo {
  width: 3.75rem;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 2px;
}
.little_icon {
  font-size: 20px ! important;
}
.ms_color_icon {
  color: #3f51b5;
}
/*Parallax imgs*/
.parallax-container {
  height: 34.375rem;
  position: relative;
}
.img-overlay {
  background-color: rgba(0,0,0,0.4);
}
.ms_big_title {
  font-weight: 400;
  font-size: 90px;
  color: white;
  position: absolute;
  left: 150px;
  top: 200px;
  text-transform: uppercase;
}
.ms_little_title {
  font-weight: 300;
  font-size: 70px;
  color: white;
  position: absolute;
  left: 80px;
  top: 120px;
  font-style: italic;
}
/*White Sections*/
.section {
  min-height: 40rem;
  display: flex;
  align-items: center;
}
.ms_image {
  border-radius: 30px;
}
.ms_subtitle {
  font-size: 70px;
}
.ms_text {
  font-size: 20px;
}
.marg_top {
  margin-top: 85px;
}
.marg_more {
  margin-top: 100px;
  margin-right: 50px;
  margin-left: -30px;
  width: 425px;
}
.carousel_img {
  width: 100% ! important;
}
/*GAME: Tic Tac Toe*/
:root {
  --winning_blocks: #b39ddb;
}
.game_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 200px;
  color: #311b92;
}
.violet_title {
  font-weight: 500;
}
#gameboard {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.box {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #311b92;
  border-bottom: 2px solid #311b92;
  font-size: 100px;
}
.box:nth-child(3n) {
  border-right: none;
}
.box:nth-child(6) ~ .box {
  border-bottom: none;
}
.game_btn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #b388ff;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  border-color: #b388ff;
}
/*Footer*/
.ms_background {
  background-color: #1a237e;
}
.footer_img {
  height: 200px;
  border-radius: 20px;
}
.social_img {
  font-size: 20px;
  color: white;
  margin: 10px;
}
.ms_flex {
  display: flex;
  justify-content: space-between;
}

/*MEDIA QUERIES*/
/*Mobile*/
@media screen and (max-width: 375px) {
  /*Prallax imgs text*/
  .ms_big_title {
    font-size: 40px;
    left: 10px;
    top: 190px;
  }
  .ms_little_title {
    font-weight: 350;
    font-size: 30px;
    left: 5px;
    top: 150px;
  }
  .ms_subtitle {
    font-size: 50px;
  }
  .ms_text {
    font-size: 20px;
  }
}
/*Tablet*/
@media screen and (max-width: 768px) {
  /*Prallax imgs text*/
  .ms_big_title {
    font-size: 60px;
    left: 10px;
    top: 190px;
  }
  .ms_little_title {
    font-weight: 350;
    font-size: 40px;
    left: 5px;
    top: 150px;
  }
  .ms_subtitle {
    font-size: 50px;
  }
  .ms_text {
    font-size: 20px;
  }
}
